.grid-container {
    display: grid;
}

.product-cell {
    text-align: center;
    border: 2px solid #9799a7;
    margin: 10px 10px;
}

.delete-checkbox {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.product-details {
    padding: 0 0;
    margin-top: 5px;
    margin-bottom: 20px;

    list-style-type:none;
}

.header {
    display: flex;
    justify-content: space-between;
}